@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap");
body, header, main, footer, h1, h2, h3, section, article, p, div, button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  border: none;
  background: none;
  background-color: transparent;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font: 400 1.6rem "Raleway", sans-serif;
  background-color: #d3d3d3;
}

header, footer {
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 650px) {
  header, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header button {
  color: #a9a9a9;
  border: 1px solid #a9a9a9;
  border-radius: 1.5rem;
  font-size: 2.2rem;
  margin: none;
  padding: 0.6rem;
  background-color: none;
}

@media (min-width: 1200px) {
  header button {
    font-size: 1.6rem;
  }
}

header button:hover {
  cursor: pointer;
  color: #a9a9a9;
  background-color: #fff;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

header button:active {
  color: #fff;
}

h1 {
  font: 700 3rem "Raleway", sans-serif;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

section h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 96%;
          flex: 0 0 96%;
}

section:nth-child(1) h2 {
  font: 500 2.4rem "Raleway", sans-serif;
  margin: none;
  padding: 1rem;
  background-color: #ff0000;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #686868;
          box-shadow: 0.5rem 0.5rem 0.5rem #686868;
  text-align: center;
}

@media (min-width: 1200px) {
  section:nth-child(1) h2 {
    text-align: left;
  }
}

section:nth-child(2) h2 {
  font: 500 2.4rem "Raleway", sans-serif;
  margin: none;
  padding: 1rem;
  background-color: #ffff00;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #686868;
          box-shadow: 0.5rem 0.5rem 0.5rem #686868;
  text-align: center;
}

@media (min-width: 1200px) {
  section:nth-child(2) h2 {
    text-align: left;
  }
}

section:nth-child(3) h2 {
  font: 500 2.4rem "Raleway", sans-serif;
  margin: none;
  padding: 1rem;
  background-color: #008000;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #686868;
          box-shadow: 0.5rem 0.5rem 0.5rem #686868;
  text-align: center;
}

@media (min-width: 1200px) {
  section:nth-child(3) h2 {
    text-align: left;
  }
}

footer h2 {
  padding-top: 1rem;
  font: 500 2.4rem "Raleway", sans-serif;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 0.2px solid #a9a9a9;
  margin: none;
  padding: 1rem;
  background-color: none;
}

.material-icons {
  vertical-align: text-bottom;
  font-size: 2.5rem;
}

@media (min-width: 1200px) {
  .material-icons {
    font-size: 2rem;
  }
}

section {
  margin: 2rem;
  padding: 1rem;
  background-color: #a9a9a948;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section:nth-of-type(1) article:hover {
  border-left: 3px solid #ff0000;
}

section:nth-of-type(2) article:hover {
  border-left: 3px solid #ffff00;
}

section:nth-of-type(3) article:hover {
  border-left: 3px solid #008000;
}

@media (min-width: 650px) {
  section {
    max-width: 88rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  section {
    max-width: 50rem;
  }
}

p {
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
}

@media (min-width: 1200px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

article {
  margin: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #686868;
          box-shadow: 0.5rem 0.5rem 0.5rem #686868;
}

@media (min-width: 650px) {
  article {
    max-width: 25rem;
  }
}

@media (min-width: 1200px) {
  article {
    max-width: 45rem;
  }
}

article p {
  margin-bottom: 2rem;
}

article p:last-of-type {
  font-weight: 200;
  display: inline-block;
  color: darkgoldenrod;
}

@media (min-width: 650px) {
  article p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

@media (min-width: 1200px) {
  article p {
    font-size: 1.4rem;
  }
}

article div {
  float: right;
  padding-top: 1rem;
}

article button:first-of-type {
  margin-right: 1rem;
  color: #a9a9a9;
}

article button:first-of-type:hover {
  cursor: pointer;
  color: #0000ff;
  background-color: transparent;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

article button:first-of-type:active {
  color: #fff;
}

article button:last-of-type {
  color: #a9a9a9;
}

article button:last-of-type:hover {
  cursor: pointer;
  color: #ff0000;
  background-color: transparent;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

article button:last-of-type:active {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */