section {
    @include margin_padding($big_gutter, $small_gutter);
    background-color: $lightcolor;
    min-height: calc( 51vh - 28rem );

    @media (min-width: map-get($breaks, medium)) {
        display: flex;
        flex-wrap: wrap;
        min-height: calc( 53vh - 28rem );
    }
    
    @media (min-width: map-get($breaks, large)) {
        display: block;
        flex: 1;
        min-height: calc( 100vh - 28rem );
    }
}

[class*="icon"] {
    color: $neutralcolor;
    font-size: 1.5rem; 

    &::before {
        font-family: "Material Icons";
        font-size: 1.8rem;
        vertical-align: text-bottom;
    }
}

[class*="add"] {
    border: 1px solid $neutralcolor;
    border-radius: 1.5rem;
    margin-left: $big_gutter;
    padding: .6rem;
    @include buttondisplays("post_add", $neutralcolor);
}

[class*="edit"] {
    font-size: 0;
    @include buttondisplays("edit", #0000ff);
    grid-area: edit;
    justify-self: end;
}

[class*="delete"] {
    font-size: 0;
    @include buttondisplays("delete_forever", $todocolor);
    grid-area: delete;
    justify-self: end;
}

[class*="stop"] {
    font-size: 0;
    border: 1px solid $neutralcolor;
    border-radius: 1.5rem;
    @include margin_padding(0, .6rem);
    @include buttondisplays("music_off", $neutralcolor)
}


[class*="play"] {
    font-size: 0;
    border: 1px solid $neutralcolor;
    border-radius: 1.5rem;
    @include margin_padding(0, .6rem);
    @include buttondisplays("music_note", $neutralcolor)
}

main {
    @media(min-width: map-get($breaks, large)) {
        display: flex;
    }
}

.blur {
    filter: blur(10px) brightness(.80);
}