header {
    @extend %header_footer_display;
}

h1 {
    font: 700 3rem $font-family;
    margin-bottom: $small_gutter;
    padding-top: $small_gutter;
}

h2 {
    font: $h2font;
}

section  {
    h2 {
        text-transform: uppercase;
        flex: 0 0 100%;
        text-align: center;

        @media (min-width: map-get($breaks, large)) {
            text-align: left;
            padding-left: $big_gutter;
        }
    }

    &:nth-child(1) {
        h2 {
        @include h2stack($todocolor);
        }

        .task {
            border-left: solid 3px $todocolor;
        }
    }

    &:nth-child(2) {
        h2 {
        @include h2stack($doingcolor);
        }

        .task {
            border-left: solid 3px $doingcolor;
        }
    }

    &:nth-child(3) {
        h2 {
        @include h2stack($donecolor);
        }
        
        .task {
            border-left: solid 3px $donecolor;
        }
    }
}

footer {
    @extend %header_footer_display;
    p {
        font-size: smaller;
    }
}

h3, h4, h5 {
    font-size: 1.8rem;
    border-bottom: .1px solid #d3d3d3;
    padding-bottom: $small_gutter;
}
