$breaks: (
    "medium": 650px,
    "large": 1050px
);

// Mixins
@mixin basic($margin, $padding, $bcolor) {
    margin: $margin;
    padding: $padding;
    background-color: $bcolor;
}

@mixin h2stack($color) {
    font: $h2ff;
    @include basic(0, $spacing_small, $color);
    box-shadow: $shadow;
    text-align: center;

    @media (min-width: map-get($breaks, large)) {
        text-align: left;
    }
}

@mixin hover($color, $bcolor) {
    cursor: pointer;
    color: $color;
    background-color: $bcolor;
    transform: scale(1.2, 1.2);
}

@mixin artbrdr($color) {
    border-left: 3px solid $color;
}

// Placeholders
%hfdisplay {
    @include basic($spacing_large, $spacing_large, $maincolor);
    text-align: center;
    align-items: center;

    @media (min-width: map-get($breaks, medium)) {
        display: flex;
        justify-content: space-between;
    }
}