// Mixins
@mixin margin_padding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin h2stack($color) {
    color: $color;
}

@mixin buttondisplays ($content, $hovercolor) {
    &::before {
        content: $content;
        content: $content / "";
    }

    &:hover {
        cursor: pointer;
        color: $hovercolor;
        transform: scale(1.2, 1.2);
    }

    &:active {
        color: $maincolor;
    }
}

// Placeholders
%header_footer_display {
    @include margin_padding($big_gutter, $big_gutter);
    background-color: $maincolor;
    text-align: center;
    align-items: center;

    @media (min-width: map-get($breaks, medium)) {
        display: flex;
        justify-content: space-between;
    }
}