// Placeholders
%hfdisplay {
    padding: $spacing_large;
    margin: $spacing_large;
    background-color: $maincolor;
    text-align: center;
    // display: flex;
    // justify-content: space-between;
}

// Mixins
@mixin h2stack($color) {
    font: $h2ff;
    padding: $spacing_small;
    background-color: $color;
    box-shadow: $shadow;
    text-align: center;
}

@mixin hover($color, $bcolor) {
    cursor: pointer;
    color: $color;
    background-color: $bcolor;
    transform: scale(1.2, 1.2);
}