article {
    background-color: #f5f5f5;
    border-radius: $curve;
    margin: $spacing_small;
    padding: $spacing_small;
    box-shadow: $shadow;

    & p {
        margin-bottom: $spacing_large;

        &:last-of-type{
            display: inline-block;
             color:darkgoldenrod;
        }
    }

    & div {
        float: right;
    }

    & button:first-of-type {
        margin-right: $spacing_small;
        color: $neutralcolor;

        &:hover {
            @include hover(#0000ff, transparent);
        }

        &:active {
            color: $maincolor;
        }
    }

    & button:last-of-type {
        color: $neutralcolor;

        &:hover {
            @include hover($todocolor, transparent);
        }

        &:active {
            color: $maincolor;
        }
    }
}