article {
    @include basic($spacing_small, $spacing_small, #f5f5f5);
    border-radius: $curve;
    box-shadow: $shadow;
    
    @media (min-width: map-get($breaks, medium)) {
        max-width: 25rem;
    }

    @media  (min-width: map-get($breaks, large)) {
        max-width: 45rem;
    }

    & p {
        margin-bottom: $spacing_large;

        &:last-of-type{
            font-weight: 200;
            display: inline-block;
             color:darkgoldenrod;
        }

        @media (min-width: map-get($breaks, medium)) {
            font-size: 1.8rem;
            line-height: 1.6;
        }

        @media  (min-width: map-get($breaks, large)) {
            font-size: 1.4rem;
        
        }
    }

    & div {
        float: right;
        padding-top: $spacing_small;
    }

    & button:first-of-type {
        margin-right: $spacing_small;
        color: $neutralcolor;

        &:hover {
            @include hover(#0000ff, transparent);
        }

        &:active {
            color: $maincolor;
        }
    }

    & button:last-of-type {
        color: $neutralcolor;

        &:hover {
            @include hover($todocolor, transparent);
        }

        &:active {
            color: $maincolor;
        }
    }
}