.task {
    @include margin_padding($big_gutter, $big_gutter);
    background-color: #f5f5f5;
    border-radius: .5rem;
    filter: drop-shadow(.2rem .2rem .2rem #686868);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "title title title title"
    "mainpar mainpar mainpar mainpar"
    "date date . edits";

    &__title {
        font-weight: 500;
        grid-area: title;
    }

    p {
        color: #7c7c7c;
        margin: $small_gutter 0 $big_gutter 0;
        grid-area: mainpar;
    }
    
    @media (min-width: map-get($breaks, medium)) {
        width: calc(100%/2 - 4rem);
    }

    @media (min-width: 950px) {
        width: calc(100%/3 - 4rem);
    }

    @media (min-width: map-get($breaks, large)) {
        width: calc(100% - 4rem);
    }
}

time {
    font-size: 1.2rem;
    font-weight: 700;
    color:darkgoldenrod;
    grid-area: date;
    align-self: center;
}

.edits {
    grid-area: edits;
    justify-self: end;
}