// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

// Variables 
$maincolor: #fff;
$neutralcolor:#a9a9a9;
$lightcolor: #a9a9a925;
$todocolor: #ff0000;
$doingcolor: #ffff00;
$donecolor: #008000;
$font-family: 'Raleway', sans-serif;
$big_gutter: 2rem;
$small_gutter: 1rem;
$h2font: 500 2rem $font-family;
$breaks: (
    "medium": 650px,
    "large": 1150px
);

// Imports
@import "reset";
@import "sassinserts";
@import "headings";
@import "board";
@import "tasks";
@import "forms";
@import "dialog";